@charset "UTF-8";
/**
 *
 * @authors Ted Shiu (tedshd@gmail.com)
 * @date    2014-03-02 00:16:13
 * @version $Id$
 */

.scroll_progress {
    position: fixed;
    overflow: hidden;
}
.scroll_progress div {
    position: absolute;
    top: 0;
    left: 0;
}